deploy/n8n/workflows/lovable-deploy-test.json
{
  "name": "Lovable Deploy → Test → Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lovable-deploy",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "name": "Webhook: Lovable Deploy",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-lovable"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.LOVABLE_WEBHOOK_SECRET;\nconst sig = $input.first().json.headers['x-lovable-signature'];\nconst body = $input.first().json.body;\nconst expected = crypto.createHmac('sha256', secret).update(typeof body === 'string' ? body : JSON.stringify(body)).digest('hex');\nif (sig !== expected) { throw new Error('Invalid signature'); }\nreturn $input.all();"
      },
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "verify-hmac"
    },
    {
      "parameters": {
        "url": "={{ $json.body.previewUrl }}/healthz",
        "options": { "timeout": 30000 }
      },
      "name": "Smoke: Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "id": "smoke-health"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/{{ $json.body.repo }}/actions/workflows/e2e.yml/dispatches",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github+json" }
          ]
        },
        "sendBody": true,
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": { \"target_url\": \"{{ $json.body.previewUrl }}\" }\n}"
      },
      "name": "Trigger E2E Suite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "id": "trigger-e2e"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "name": "Wait for Tests",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "wait-tests"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/{{ $('Webhook: Lovable Deploy').item.json.body.repo }}/actions/runs?per_page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GITHUB_TOKEN}}" }
          ]
        }
      },
      "name": "Fetch Test Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "id": "fetch-result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"tests\": $json.workflow_runs[0].conclusion }"
      },
      "name": "Respond to Lovable",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook: Lovable Deploy": { "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]] },
    "Verify HMAC":             { "main": [[{ "node": "Smoke: Health Check", "type": "main", "index": 0 }]] },
    "Smoke: Health Check":     { "main": [[{ "node": "Trigger E2E Suite", "type": "main", "index": 0 }]] },
    "Trigger E2E Suite":       { "main": [[{ "node": "Wait for Tests", "type": "main", "index": 0 }]] },
    "Wait for Tests":          { "main": [[{ "node": "Fetch Test Result", "type": "main", "index": 0 }]] },
    "Fetch Test Result":       { "main": [[{ "node": "Respond to Lovable", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
